nodered/ov2640_both_low_and_high_res_images.json
[{"id":"33d83f4c.d6dba","type":"tab","label":"ov2640 camera","disabled":false,"info":""},{"id":"2ca063e0.0e1aac","type":"group","z":"33d83f4c.d6dba","name":"UI dashboard","style":{"fill":"#ffefbf","label":true},"nodes":["d8b724fb.870d78","efc8e730.2afa88","f7e77cf3.a2b5f","94b4ed19.a240f","6eb6101c.5caae","b33ace92.bd624","1b6f8f8e.ab104","7cc5960.2acc76c","104aa288.855a8d","56da89.a05e5578","99fb2314.34ab","6bcdc3cd.fc102c","24afd219.b9d9de"],"x":614,"y":399,"w":692,"h":402},{"id":"7ddc93c.a89c26c","type":"group","z":"33d83f4c.d6dba","name":"low resolution image","style":{"fill":"#bfdbef","label":true},"nodes":["34b3df4b.0d00b","76326bf9.8ea094","23142694.2018aa"],"x":54,"y":439,"w":252,"h":162},{"id":"98cf2536.061978","type":"group","z":"33d83f4c.d6dba","name":"high resolution image","style":{"fill":"#e3f3d3","label":true,"stroke":"#92d04f"},"nodes":["39bb0cb9.5d7624","d7d1d08f.3c939","8e04b6c1.4e3728","b9a92a5.9415ad8","23155b4d.f36664","783fbaa1.e88e44","50ff3818.5ae9a8"],"x":234,"y":119,"w":672,"h":202},{"id":"43ab3c50.580284","type":"mqtt in","z":"33d83f4c.d6dba","name":"","topic":"ov2640/base64","qos":"0","datatype":"utf8","broker":"fa73863c.8b1f08","nl":false,"rap":false,"x":100,"y":160,"wires":[["39bb0cb9.5d7624"]]},{"id":"d8b724fb.870d78","type":"ui_text","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","group":"11f9aec9.4b9521","order":1,"width":"2","height":"1","name":"","label":"FPS","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":440,"wires":[]},{"id":"efc8e730.2afa88","type":"ui_chart","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","group":"11f9aec9.4b9521","order":2,"width":"6","height":"4","label":"FPS history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":480,"wires":[[]]},{"id":"f7e77cf3.a2b5f","type":"ui_button","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","group":"b139eb3a.60b6a8","order":1,"width":"4","height":"1","passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"button","topicType":"str","x":700,"y":580,"wires":[["b33ace92.bd624"]]},{"id":"94b4ed19.a240f","type":"trigger","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"frequency limit 250ms","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"topic","topic":"payload","outputs":1,"x":1020,"y":580,"wires":[["1b6f8f8e.ab104"]]},{"id":"6eb6101c.5caae","type":"ui_template","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","group":"b139eb3a.60b6a8","name":"Display image","order":3,"width":"8","height":"8","format":"<img width=\"320\" height=\"240\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":760,"wires":[[]]},{"id":"b33ace92.bd624","type":"join","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":580,"wires":[["94b4ed19.a240f"]]},{"id":"1b6f8f8e.ab104","type":"split","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1050,"y":640,"wires":[["7cc5960.2acc76c"]]},{"id":"7cc5960.2acc76c","type":"switch","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"jpeg_base64","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":700,"wires":[["104aa288.855a8d"],["6eb6101c.5caae"]]},{"id":"104aa288.855a8d","type":"function","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"timeConvert","func":"timestamp = msg.payload - 6*3600*1000\nvar dt = new Date(timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":700,"wires":[["56da89.a05e5578"]]},{"id":"56da89.a05e5578","type":"template","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{year}}/{{month}}/{{day}} {{hours}}:{{mins}}","output":"str","x":1210,"y":700,"wires":[["99fb2314.34ab"]]},{"id":"99fb2314.34ab","type":"ui_text","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","group":"b139eb3a.60b6a8","order":2,"width":"4","height":"1","name":"","label":"Time","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":760,"wires":[]},{"id":"6bcdc3cd.fc102c","type":"Message Counter","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","name":"","units":"seconds","interval":1,"alignToClock":true,"generator":"internal","x":850,"y":500,"wires":[["d8b724fb.870d78","efc8e730.2afa88"],["b33ace92.bd624","24afd219.b9d9de"]],"outputLabels":["count","msg"]},{"id":"40cc3dcb.d410c4","type":"comment","z":"33d83f4c.d6dba","name":"default image size 320x240","info":"","x":110,"y":120,"wires":[]},{"id":"34b3df4b.0d00b","type":"catch","z":"33d83f4c.d6dba","g":"7ddc93c.a89c26c","name":"capture: parse json","scope":["39bb0cb9.5d7624"],"uncaught":false,"x":190,"y":480,"wires":[["76326bf9.8ea094","de464a9a.6383f8"]]},{"id":"39bb0cb9.5d7624","type":"json","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"try: parse json","property":"payload","action":"","pretty":false,"x":340,"y":160,"wires":[["50ff3818.5ae9a8"]]},{"id":"d7d1d08f.3c939","type":"debug","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"8e04b6c1.4e3728","type":"join","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"send when complete","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"batch","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":560,"y":220,"wires":[["783fbaa1.e88e44","b9a92a5.9415ad8"]]},{"id":"b9a92a5.9415ad8","type":"function","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"join binary","func":"msg.payload = msg.payload.join(\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["23155b4d.f36664","de464a9a.6383f8"]]},{"id":"23155b4d.f36664","type":"debug","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"783fbaa1.e88e44","type":"debug","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"50ff3818.5ae9a8","type":"function","z":"33d83f4c.d6dba","g":"98cf2536.061978","name":"rearrange msg","func":"frame = msg.payload.frame;\nbatch = msg.payload.batch;\nbinary = msg.payload.binary;\nmsg = {\n    frame : frame,\n    batch : batch,\n    payload : binary,\n};\nif(batch==-1){\n    msg.complete = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["d7d1d08f.3c939","8e04b6c1.4e3728"]]},{"id":"24afd219.b9d9de","type":"ui_template","z":"33d83f4c.d6dba","g":"2ca063e0.0e1aac","group":"11f9aec9.4b9521","name":"Display image","order":4,"width":"8","height":"8","format":"<img width=\"1280\" height=\"1024\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1100,"y":520,"wires":[[]]},{"id":"de464a9a.6383f8","type":"change","z":"33d83f4c.d6dba","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"jpeg_base64","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["6bcdc3cd.fc102c"]]},{"id":"76326bf9.8ea094","type":"debug","z":"33d83f4c.d6dba","g":"7ddc93c.a89c26c","name":"capture","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":520,"wires":[]},{"id":"23142694.2018aa","type":"comment","z":"33d83f4c.d6dba","g":"7ddc93c.a89c26c","name":"Double click to readme","info":"for low resolution image the binary is directly transferred without json format\nwhen parsing json fails we know it is an image binary without json wrapping","x":180,"y":560,"wires":[]},{"id":"fa73863c.8b1f08","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11f9aec9.4b9521","type":"ui_group","name":"Video Stream","tab":"3dc8abad.482484","order":1,"disp":true,"width":"10","collapse":false},{"id":"b139eb3a.60b6a8","type":"ui_group","name":"Take photo","tab":"3dc8abad.482484","order":2,"disp":true,"width":"8","collapse":false},{"id":"3dc8abad.482484","type":"ui_tab","name":"OV2640","icon":"dashboard","order":1,"disabled":false,"hidden":false}]