nodered/ov2640_320x240_streamcapture.json
[{"id":"e18733bd.f5744","type":"tab","label":"ov2640 camera","disabled":false,"info":""},{"id":"e105adcf.76e17","type":"mqtt in","z":"e18733bd.f5744","name":"","topic":"ov2640/base64","qos":"0","datatype":"utf8","broker":"592a546c.ca864c","x":140,"y":160,"wires":[["61aafb45.c59c94"]]},{"id":"68e0a720.f29498","type":"ui_template","z":"e18733bd.f5744","group":"efcf5006.15dae","name":"Display image","order":4,"width":"8","height":"8","format":"<img width=\"320\" height=\"240\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":180,"wires":[[]]},{"id":"c1e91f97.0485","type":"Message Counter","z":"e18733bd.f5744","name":"","units":"seconds","interval":1,"alignToClock":true,"generator":"internal","x":390,"y":160,"wires":[["a18c4712.5dd588","6583e5d3.c5fc3c"],["68e0a720.f29498","640feb53.a89d84"]],"outputLabels":["count","msg"]},{"id":"a18c4712.5dd588","type":"ui_text","z":"e18733bd.f5744","group":"efcf5006.15dae","order":1,"width":"2","height":"1","name":"","label":"FPS","format":"{{msg.payload}}","layout":"col-center","x":570,"y":60,"wires":[]},{"id":"cfcfd619.b1f4c8","type":"comment","z":"e18733bd.f5744","name":"","info":"/9j/4AAQSkZJRgABAQEAAAAAAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUaHBYeLCYuLSsmKikwNkU7MDNBNCkqPFI9QUdKTU5NLzpVW1RLWkVMTUr/2wBDAQ0ODhIQEiMUFCNKMioySkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkr/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/wAARCADwAUADASEAAhEBAxEB/9oADAMBAAIRAxEAPwDs73TdmcCuI8SwbUf1FOpsENzkGNR7qwNBpajdQAZozSGLTxSGOAp4FIocBS4oGPAp+2pGPAp4FIoXFKOtAHceApo2EsJ/1nX612gWvQp6xPOqfELtoxWhmJikxTATFNxTEJimEUAMIphFMQyoyKAIzVW4uIoB87AUr2AzJ9aQ...","x":110,"y":480,"wires":[]},{"id":"50480444.fedcfc","type":"json","z":"e18733bd.f5744","name":"","property":"payload","action":"","pretty":false,"x":110,"y":400,"wires":[[]]},{"id":"8fa6f7c2.abcf48","type":"function","z":"e18733bd.f5744","name":"concat base64 binary","func":"let base64_str = \"\";\nif (msg.payload[\"batch\"]!=-1){\n    base64_str += msg.payload[\"binary\"];\n}\nelse{\n    base64_str += msg.payload[\"binary\"];\n    msg.payload = base64_str;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":440,"wires":[[]]},{"id":"6583e5d3.c5fc3c","type":"ui_chart","z":"e18733bd.f5744","name":"","group":"efcf5006.15dae","order":2,"width":"6","height":"4","label":"FPS history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":100,"wires":[[]]},{"id":"7707ebac.5416f4","type":"ui_button","z":"e18733bd.f5744","name":"","group":"d477a74f.58c848","order":1,"width":"4","height":"1","passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"button","topicType":"str","x":340,"y":240,"wires":[["640feb53.a89d84"]]},{"id":"1b8d23ae.3a592c","type":"trigger","z":"e18733bd.f5744","name":"frequency limit 250ms","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"topic","topic":"payload","outputs":1,"x":660,"y":240,"wires":[["f0d24eea.360a4"]]},{"id":"cb5fd2a7.e073b","type":"ui_template","z":"e18733bd.f5744","group":"d477a74f.58c848","name":"Display image","order":3,"width":"8","height":"8","format":"<img width=\"320\" height=\"240\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":460,"wires":[[]]},{"id":"640feb53.a89d84","type":"join","z":"e18733bd.f5744","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":240,"wires":[["1b8d23ae.3a592c"]]},{"id":"f0d24eea.360a4","type":"split","z":"e18733bd.f5744","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":690,"y":300,"wires":[["12aac690.606319"]]},{"id":"12aac690.606319","type":"switch","z":"e18733bd.f5744","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"jpeg_base64","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["3dd74705.7c44f8"],["cb5fd2a7.e073b"]]},{"id":"61aafb45.c59c94","type":"change","z":"e18733bd.f5744","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"jpeg_base64","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":100,"wires":[["c1e91f97.0485"]]},{"id":"3dd74705.7c44f8","type":"function","z":"e18733bd.f5744","name":"timeConvert","func":"timestamp = msg.payload - 6*3600*1000\nvar dt = new Date(timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["88539c23.bd5b"]]},{"id":"88539c23.bd5b","type":"template","z":"e18733bd.f5744","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{year}}/{{month}}/{{day}} {{hours}}:{{mins}}","output":"str","x":890,"y":400,"wires":[["3c90cff7.e1654"]]},{"id":"3c90cff7.e1654","type":"ui_text","z":"e18733bd.f5744","group":"d477a74f.58c848","order":2,"width":"4","height":"1","name":"","label":"Time","format":"{{msg.payload}}","layout":"col-center","x":890,"y":340,"wires":[]},{"id":"592a546c.ca864c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efcf5006.15dae","type":"ui_group","name":"Video Stream","tab":"65324def.436554","order":1,"disp":true,"width":"10","collapse":false},{"id":"d477a74f.58c848","type":"ui_group","name":"Take photo","tab":"65324def.436554","order":2,"disp":true,"width":"8","collapse":false},{"id":"65324def.436554","type":"ui_tab","name":"OV2640","icon":"dashboard","order":1,"disabled":false,"hidden":false}]