nodered/show_jpeg_base64.json
[{"id":"e18733bd.f5744","type":"tab","label":"ov2640 camera","disabled":false,"info":""},{"id":"e105adcf.76e17","type":"mqtt in","z":"e18733bd.f5744","name":"","topic":"ov2640/base64","qos":"0","datatype":"auto","broker":"592a546c.ca864c","x":140,"y":140,"wires":[["c1e91f97.0485"]]},{"id":"68e0a720.f29498","type":"ui_template","z":"e18733bd.f5744","group":"efcf5006.15dae","name":"Display image","order":4,"width":"8","height":"8","format":"<img width=\"320\" height=\"240\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":180,"wires":[[]]},{"id":"c1e91f97.0485","type":"Message Counter","z":"e18733bd.f5744","name":"","units":"seconds","interval":1,"alignToClock":true,"generator":"internal","x":350,"y":140,"wires":[["a18c4712.5dd588"],["68e0a720.f29498"]],"outputLabels":["count","msg"]},{"id":"a18c4712.5dd588","type":"ui_text","z":"e18733bd.f5744","group":"efcf5006.15dae","order":1,"width":"2","height":"1","name":"","label":"FPS","format":"{{msg.payload}}","layout":"col-center","x":550,"y":120,"wires":[]},{"id":"592a546c.ca864c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efcf5006.15dae","type":"ui_group","name":"Video Stream","tab":"65324def.436554","order":8,"disp":true,"width":"10","collapse":false},{"id":"65324def.436554","type":"ui_tab","name":"OV2640","icon":"dashboard","order":1,"disabled":false,"hidden":false}]